.v-hidden {
	visibility: hidden;
}

.d-none {
	display: none;
}

.mob-container{
	@include desktop(max){
		padding: 0 25px;
	}
}

.md-container {
	@include between(md, lg) {
		padding-left: 25px !important;
		padding-right: 25px !important;
	}
	@include between(lg, xl) {
		padding-left: 45px !important;
		padding-right: 45px !important;
	}
}

.show {
	&-mob {
		@include desktop() {
			display: none !important;
		}
	}

	&-desk {
		display: none;
		@include desktop() {
			display: block;
		}
	}
}

.hide-scrollbar {
	&::-webkit-scrollbar {
		height: 0;
		width: 0;

		&-track {
			background-color: transparent;
		}

		&-thumb {
			background-color: transparent;
		}
	}
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
	-webkit-appearance: none;
}

input[type='search']::-ms-clear {
	display: none;
	width: 0;
	height: 0;
}

input[type='search']::-ms-reveal {
	display: none;
	width: 0;
	height: 0;
}

input[type='search']::-webkit-search-decoration,
input[type='search']::-webkit-search-cancel-button,
input[type='search']::-webkit-search-results-button,
input[type='search']::-webkit-search-results-decoration {
	display: none;
}

input[type='number']::-webkit-inner-spin-button,
input[type='number']::-webkit-outer-spin-button {
	-webkit-appearance: none;
	margin: 0;
}

input[type='submit'] {
	cursor: pointer;
}