$media-break-points: (
        xs: 	576px, // phone()
        sm: 	768px, // tablet()
        md: 	1024px, // desktop()
        lg: 	1280px,
        xl: 	1440px,
        xxl: 	1441px
) !default;

// Background
$background-100: 	#2F3042 !default;
$background-200: 	#252736 !default;
$background-300: 	#1E1D2B !default;

// Primary Colors
$primary: 			#1B85FE !default;
$primary-secondary: #F28E36 !default;

// Neutrals
$white: 			#FFFFFF !default;
$black: 			#000000 !default;

// Accent Colors
$red: 				#C62828 !default;
$yellow: 			#FABB00 !default;
$blue: 				#006CE0 !default;
$green: 			#28A745 !default;

// Grays
$gray-200: 			#F5F5F5 !default;
$gray-300: 			#EFEFEF !default;
$gray-400: 			#FCFCFC !default;
$gray-500: 			#F2F3F4 !default;
$gray-600: 			#DEDEDE !default;
$gray-700: 			#D1D1D1 !default;
$gray-800: 			#B3B3B3 !default;
$gray-900: 			#9C9C9C !default;
$gray-1000: 		#A3AAB6 !default;
$gray-1100: 		#79808B !default;
$gray-1200: 		#464B56 !default;
$gray-1300: 		#2B2C34 !default;

//
$warm-gray: 		#8F8F8F !default;